/*--------------------------*/
/*-------Basic Styles-------*/
/*--------------------------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%; /* 10px */
    scroll-behavior: smooth;
}

@media(max-width: 800px){
    html{
        font-size: 55%;
    }
}

:root{
    /* --darkGreen: #005a17;
    --lightGreen: #00ff37; 
    --cyanish: #79b1e2;
    --darkPurple: #100c18;  */

    --darkGreen: #28833f;
    --lightGreen: #005a17; 
    --darkBlue: #1A1341;
    --cyanish: #79b1e2;

    --nav-height: 12rem;

    --fs-h1: 7.5rem;
    --fs-h2: 4.5rem;
    --fs-h3: 4rem;
    --fs-h4: 2.5rem;
    --fs-body: 2rem;

    --gutter-xxsmall: 2rem;
    --gutter-xsmall: 3rem;
    --gutter-small: 4rem;
    --gutter-medium: 6rem;
    --gutter-large: 8rem;
    --gutter-huge: 10rem;
    --gutter-massive: 20rem;
}

body{
    color: var(--darkBlue);
    font-family: 'Montserrat', sans-serif;
    font-size: var(--fs-body);
    line-height: 1.7;
    font-weight: 500;
    background-color: var(--cyanish);
    overflow-x: hidden;
}

img{
    max-width: 100%;
    object-fit: contain;
}

a{
    color: var(--darkBlue);
    text-decoration: none;
}

.btn{
    display: inline-block;
    padding: 1.2rem 4rem;
    border: 1px solid var(--darkGreen);
    font-size: 2.2rem;
}

.btn-text{
    display: inline-block;
    padding: 0.8rem 0.5rem;
    border-bottom: 1px solid var(--darkGreen);
}

.btn,
.btn-text{
    z-index: 1;
    overflow-x: hidden;
    position: relative;
}

.btn::after,
.btn-text::after{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 100%;
    display: block;
    height: 100%;
    width: 100%;
    background: var(--lightGreen); 
    transition: all 0.2s cubic-bezier(1, 0.68, 0.16, 0.9);
    z-index: -1;
}

.btn:hover::after,
.btn-text:hover::after{
    right: 0;
    background: var(--darkGreen);
}

img{
    object-fit: contain;
}

section{
    padding: var(--gutter-small) 0;
    border-bottom: 1px solid #222222;
}

.row{
    max-width: 1300px;
    margin: 0 auto;
}

.work-row{
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
}

.work-row h2{
    margin-right: var(--gutter-small);
    margin-left: var(--gutter-xxsmall);
}
.work-row a{
    font-weight: 700;
}

@media(max-width: 1350px){
    .row{
        padding: 0 var(--gutter-large);
    }
}

@media(max-width: 850px){
    .row{
        padding: var(--gutter-medium);
    }
}

@media(max-width: 560px){
    .row{
        padding: 0 var(--gutter-small);
    }
}

@media(max-width: 560px){
    .row{
        padding: 0 var(--gutter-xxsmall);
    }
}

h1,
h2,
h3,
h4{
    font-weight: 400;
    line-height: 1.1;

    color: var(--darkGreen);
}

h1{
    font-size: var(--fs-h1);
    font-weight: 600;
}

h2{
    font-size: var(--fs-h2);
    font-weight: 600;
}

h2::after{
    content: "";
    display: block;
    height: 0.3rem;
    width: 12rem;
    margin-top: 1rem;
    background-color: var(--darkGreen);
    max-width: 100%;
}

h3{
    font-size: var(--fs-h3);
    max-width: fit-content;
    font-weight: 500;
}

h4{
    font-size: var(--fs-h4);
}

@media(max-width: 590px){
    h1{
        font-size: var(--fs-h2);
    }
    
    h2{
        font-size: var(--fs-h3);
    }

    h3{
        font-size: var(--fs-h4);
    }
}

ul{
    list-style-position: inside;
}

/*--------------------------*/
/*----------Header----------*/
/*--------------------------*/


header{
    display: flex;
    height: 50vh;
    border-bottom: 1px solid #222222;
    justify-content: center;
}

.header-left{
    display: flex;
    flex-direction: column;
    margin-left: var(--gutter-medium);
    margin-right: var(--gutter-huge);
    justify-content: center;
    max-width: 20%;
}

.back-video{
    margin-top: var(--gutter-xsmall);
    max-height: 90%;

    max-width: fit-content;
}

@media(max-width: 540px){
    header{
        text-align: center;

        height: 100vh;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    header h1{
        font-size: var(--fs-h1);
    }

    .header-text-container{
        display: flex;
        justify-content: center;
    }

    .header-left{
        margin: 0;
    }

    .back-video{
        width: 80%;
    }
}

.header-nav{
    margin-right: 50px;
    max-height: fit-content;
}

nav{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    height: var(--nav-height) *0.9;
    flex-direction: column;
}

@media(max-width: 420px){
    nav{
        gap: var(--gutter-xsmall);
    }
}

@media(max-width: 340px){
    nav{
        gap: var(--gutter-xxsmall);
    }
}

nav a{
    font-size: 2.2rem;
    font-weight: 600;
    position: relative;
    overflow-x: hidden;
    padding-bottom: 1rem;
    transition: all 0.2s cubic-bezier(1, 0.68, 0.16, 0.9);

    color: var(--darkBlue);
}

nav a::after{
    content: "";
    position: absolute;
    bottom: 0;
    right: 100%;
    width: 100%;
    height: 1rem;
    display: block;
    background: var(--lightGreen);
    transition: all 0.2s cubic-bezier(1, 0.68, 0.16, 0.9);
}

nav a:hover{
    color: var(--darkGreen);
}

nav a:hover::after{
    right: 0;
    height: 0.2rem;
    background: var(--darkGreen);
}

.header-text-container p{
    font-size: 2.4rem;
    margin: 1rem 0 3rem;
}

/*--------------------------*/
/*-------My Projects--------*/
/*--------------------------*/

.work-box{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: var(--gutter-xsmall);

    max-width: 50%;
}

@media(max-width: 1145px){
    .work-box{
        gap: var(--gutter-small);
        flex-direction: column;
        align-items: initial;
    }
}

@media(max-width: 750px){
    .work-box:not(:last-child){
        margin-bottom:var(--gutter-small);
    }
}

@media(max-width: 540px){
    .work-box{
        max-width: 80%;
    }
}

.work-box-text > *:not(h3) {
    margin-top: var(--gutter-xxsmall);
}

.work-box-image{
    max-width: 550px;
}

@media(max-width: 1350px){
    .work-box-image{
        max-width: 600px;
    }
}

@media(max-width: 1145px){
    .work-box-image{
        max-width: initial;
    }
}

.work-box-links{
    display: flex;
    align-items: center;
    gap: var(--gutter-xsmall);
}

.gh-link{
    transition: all 0.3s;
}

.gh-link:hover,
.gh-link:focus{
    transform: scale(1.3);
}

.gh-link img{
    height: 2.8rem;
    filter: invert();
}

.work-box-text{
    max-width: 300px;
}

.work-box-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0 var(--gutter-large);
}

.image-btn{
    display: flex;
    transition: all 0.3s;
}

.image-btn:hover,
.image-btn:focus{
    transform: scale(1.05);
}

/*--------------------------*/
/*---------About Me---------*/
/*--------------------------*/

.about{
    display: flex;
    align-items: center;
    gap: var(--gutter-large);
    margin-top: var(--gutter-medium);
}

@media(max-width: 1145px){
    .about{
        flex-direction: column;
        gap: var(--gutter-small);
    }
}

.about-text h3{
    font-size: 3rem;
}

.about-text p {
    margin-bottom: var(--gutter-xsmall);
    font-size: large;
}

.about-img{
    flex: 0 0 650px;
}

.about-img img{
    border-radius: 15px;
}

.about-text ul{
    font-size: large;
}

.Skills{
    display: flex;
}

.Skills ul{
    margin-right: var(--gutter-small);
}

@media(max-width: 1350px){
    .about-img{
        flex: 0 0 500px;
    }
}

@media(max-width: 1145px){
    .about-img{
        flex: initial;
    }
}

/*--------------------------*/
/*---------Contact----------*/
/*--------------------------*/

.contact{
    max-width: 670px;
}

.contact p {
    margin: var(--gutter-medium) 0 var(--gutter-xsmall);
}

/*--------------------------*/
/*----------Footer----------*/
/*--------------------------*/

footer{
    margin: var(--gutter-small) 0 var(--gutter-small);
    text-align: center;
}

.footer-social{
    display: flex;
    justify-content: center;
    gap: var(--gutter-xsmall);
}

.footer-social img{
    height: 40px;
    filter: invert();
}

/*--------------------------*/
/*-------Back To Top--------*/
/*--------------------------*/

.back-to-top{
    position: fixed;
    bottom: var(--gutter-small);
    right: var(--gutter-small);
    background: var(--darkGreen);
    height: 5.5rem;
    width: 5.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
    transition: all 0.2s;
}

.back-to-top.shown{
    visibility: visible;
    transform: none;
    opacity: 1;
}

.back-to-top img{
    height: 60px;
}

/*--------------------------*/
/*---------Showcase---------*/
/*--------------------------*/

.Back-Button{
    position: fixed;
    margin-top: var(--gutter-xsmall);
}

.Showcase-Header nav{
    justify-content: flex-start;
    margin-left: var(--gutter-small);
}

.title{
    display: flex;
    justify-content: center;
    margin-bottom: var(--gutter-small);
}

.title-btn{
    display: flex;
    transition: all 0.3s;
}

.title-btn:hover,
.title-btn:focus{
    transform: scale(1.05);
}

.Showcase-Content{
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding: var(--gutter-small) 0;
    border-bottom: 1px solid #222222;
}

.showcase-about{
    display: flex;
    height: 100%;
    width: 1024px;
}

.Showcase-Text {
    max-width: 100%;
    background-color: var(--darkBlue);
    padding: 5px;
    border: 1px solid black;
    margin-top: 10px;
    width: 99%;
    border-radius: 15px;

    /* Text Style */
    color: var(--cyanish);
    font-size: large;
    font-weight: 550;
}

.Showcase-Text h3{
    color: var(--cyanish);
    font-weight: 600;
}

.showcase-p{
    width: 1024px;
    margin-top: var(--gutter-xxsmall);
}

.showcase-p p{
    line-height: 30px;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.showcase-p h3{
    margin-bottom: var(--gutter-xxsmall);
}

@media(max-width:540px){
    .showcase-about{
        max-width: 90%;
    }

    .showcase-p{
        max-width: 90%;
    }

    .showcase-p video{
        max-width: 90%;
    }

    .Showcase-Video{
        scale: 50%;
    }

    .Back-Button{
        position: relative;
    }
}

/*--------------------------*/
/*----------Links-----------*/
/*--------------------------*/
li.role,
li.team,
li.engine,
li.time,
li.language{
    margin: 0;
    padding: 5px 36px ;
    list-style: none;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 30px;
    filter: none;
}

li.role{
    background-image: url(images/Profile.png);
}

li.team{
    background-image: url(images/MultiProfile.png);
}

li.engine{
    background-image: url(images/Tool.png);
}

li.time{
    background-image: url(images/Clock.png);
}

li.language{
    background-image: url(images/Language.png);
}

ul.indexUL{
    color: #E5ECBE;
    filter: invert();
}

ul.aboutUL{
    color: #864E1D;
    filter: invert();
}

/* li{
    margin: 0;
    padding: 5px 36px ;
    list-style: none;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 30px;
    color: #864e1d;
    filter: invert(); 
}

li:nth-child(1){
    background-image: url(images/Profile.png);
}

li:nth-child(2){
    background-image: url(images/MultiProfile.png);
}

li:nth-child(3){
    background-image: url(images/Tool.png);
}

li:nth-child(4){
    background-image: url(images/Clock.png);
} */